<!-- Inherits the main template -->
{% extends "main.html" %}
{% block content %}
<section class="col-md-12 content">
	<section class="col-md-4 categoriesList">
		<h4>Categories</h4>
		<!-- Iterate through sent categories and display a link for each,
		clicking a category is handled by js showItems function,
		which displays related items for the chosen category -->
		{% for cat in categories %}
		<!-- Create serialized list of items to be accessible by showItems function -->
		{% set itemsList = [] %}
		{% for i in cat.items %}
		{% if itemsList.append(i.serialize) %}
		{% endif %}
		{% endfor %}
		<ul class="nav flex-column">
			<li class="nav-item" onClick="showItems({{ cat.serialize }}, {{ itemsList }})">
				<a class="nav-link" href="#">{{cat.name}}</a>
			</li>
		</ul>
		{% endfor %}
	</section>

	<section class="col-md-8">
		<!-- Display notification messages for the user -->
		<div>
			{% with messages = get_flashed_messages() %}
			<!-- Check that messages exist -->
			{% if messages %}
			<ul class="nav alert alert-success">
				{% for message in messages %}
				<li class="nav-item"> <strong> {{ message }} </strong> </li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endwith %}
		</div>
		<h4 id="itemsHeader">{{category.name}} Items ({{category.items|length}} items)</h4>
		<ul class="nav" id="itemsDetails">
			<!-- Iterate through items of the chosen category and display a link for each -->
			{% for item in category.items %}
			<li>
				<a class="nav-link" href="{{url_for('viewItem', category_name=category.name, item_title=item.title)}}">
					{{item.title}}
				</a>
			</li>
			{% endfor %}
		</ul>
	</section>
</section>
{% endblock %}
