<!-- Inherits the main template -->
{% extends "main.html" %}
{% block content %}
<section class="col-md-12 content">
	<h2>Delete Item</h2>
	<form class="form-horizontal" action="{{ url_for('deleteItem', item_title = item.title) }}" method="post">
		<section class="form-group">
			<article class="col-sm-10">
				<!-- Confirmation of delete action -->
				<p>This is to confirm that you want to delete {{item.title}}</p>
			</article>
			<article class="col-sm-10">
				<button type="submit" class="btn btn-danger">Delete</button>
			</article>
		</section>
	</form>
</section>
{% endblock %}
