<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300,700">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
		<section class="col-md-6 text-left">
			<span>Catalog App</span>
		</section>
		<section class="col-md-6 text-right">
			<!-- Check if the user is logged in and display link accordingly -->
			{% if 'username' not in session %}
			<a href="{{url_for('showLogin')}}">
				<i class="fas fa-sign-in-alt"></i>Login
			</a>
			{% else %}
			<a href="{{url_for('gdisconnect')}}"><i class="fas fa-sign-out-alt"></i>Logout</a>
			{% endif %}
		</section>
	</header>
	<main class="container">
		<section class="row center-block">
			<!-- Main content to be implemented in each page -->
			{% block content %}
			{% endblock %}
		</section>
	</main>
	<script>
	/*
	When the user click any category in the navigation bar,
	display the related items accordingly
	*/
	function showItems(cat, items) {
		if (items != null) {
			// Display category name
			var header = document.getElementById("itemsHeader")
			header.innerHTML = cat.name + " Items " + "(" + items.length + " items)"
			var details = document.getElementById("itemsDetails")
			// Clear previous content of items list
			details.innerHTML = ""
			// Create a list of clickable links, which represents category items,
			// each link will refer to the item details page
			items.forEach((i) => {
				var listItemElm = document.createElement("li")
				var linkElm = document.createElement("a")
				linkElm.innerHTML = i.title
				linkElm.href = '/catalog/' + cat.name + '/' + i.title + '/'
				linkElm.class = "nav-link"
				listItemElm.appendChild(linkElm)
				details.appendChild(listItemElm)
			})
		}
	}
</script>
</body>
</html>
