<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300,700">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
		<section class="col-md-6 text-left">
			<span>Catalog App</span>
		</section>
		<section class="col-md-6 text-right">
			<!-- Check if the user is logged in and display link accordingly -->
			{% if 'username' not in session %}
			<a href="{{url_for('showLogin')}}">
				<i class="fas fa-sign-in-alt"></i>Login
			</a>
			{% else %}
			<a href="{{url_for('gdisconnect')}}"><i class="fas fa-sign-out-alt"></i>Logout</a>
			{% endif %}
		</section>
	</header>
	<main class="container">
		<section class="row center-block">
			<!-- Main content to be implemented in each page -->
			{% block content %}
			{% endblock %}
		</section>
	</main>
</body>
</html>
